@charset "utf-8";

*{
    margin: 0%;
    padding: 0%;
}

body{
 height: 100vh;
 background-image: url(imagens/wallpaper002.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-size: cover;
}

main{
    background-color: #fff;
    color: black;
    height: 400px;
    width: 400px;
    border-style: solid;
    text-align: center;
    margin: auto;
}