@charset "utf-8";

*{
  height: auto;
  width: auto;
}

@font-face {
  font-family: "CloisterBlack";
  src: url(Fonts/CloisterBlack.ttf) format("opentype");
}


header{
  height: 60px ;
  width: auto ;
  padding: 10px ;
  font-size: 40px ;
  font-family: "UnfinishedScreamRegular";
  text-align: center;
  background-color: rgba(0, 0, 0, 0.14);
  color: #ffff;
}

article{
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  width: 600px;
  height: 1000px;
  margin: auto;
  text-align: center;
  border-style: solid ;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.188);
  line-height: 30px;
}