@charset "utf-8";
*{
 
 padding: 0px;
 margin: 0px;
 
}

@font-face {
  font-family: "CloisterBlack";
  src: url(Fonts/CloisterBlack.ttf) format("opentype");
}

body{
  max-width: 1550px;
  height: 1000px;
  width: auto;
  margin: auto;
}


header{
  
  width: auto;
  height: auto;
  min-height: 70px;
  padding: 10px ;
  font-size: 20px ;
  font-family: "UnfinishedScreamRegular";
  text-align: center;
  background-color: rgba(0, 0, 0, 0.14);
  color: #ffff;
}

nav{
  
  background-color:rgba(0, 0, 0, 0.14); 
}

ul{
  padding-left: 1300px;
  display: inline-flex;
  list-style: none;

  
}
a{
 padding: 5px 15px;
 text-decoration: none;

 color: black;
 box-shadow: 5px 5px 5px #0000;
}








main{
  width: auto;
  height: auto;
  margin: auto;
  min-width: 800px;
  border-style: solid;
  border-color: rgba(120, 116, 116, 0.104);
  border-width: 2px;
  min-width: 400px;
}

article{
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
  text-indent: 0px;
  text-align:center ;
  width: auto;
  max-width: 350px;
  padding: 15px;
}
article p {
padding-top: 15px;


}


footer{

  position: relative;
  background-color: rgba(0, 0, 0, 0.14);
  text-align: center;
  
}

