@charset "UTF-8";
main{ 
   
    width: 550px;
    height: 700px;
    border: 2px solid rgb(0, 0, 0);
    margin: auto;
    font-family: "Smooch Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    padding-top: 0px;

  

}

.posicionamento{
  margin-left: 200px;
}

.cor{
 text-align: center;
 background-color: black;
 color: #fff;
}

.alinhamento{
 margin-top: 10px;
}
